@charset "UTF-8";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";

$bodybg: #f8f8f8;
$htmlsize: 20px;
$pagewidth: 100%;
$headerlightbg: #ED796B;
/*$headerbg: #E3252B;*/
$headerbg: #ED4732;
$linkcolor: #ED796B;
$headerlinkheight: 2.222222em;

$titlefontsize: 6.25vw;
$entryfontsize: 2.8125vw;
$entrywidth: 30em;
$entrywidth: 84.375%;
$entrycolor: #444;
$entrycodefontsize: 0.54em;

$homearticlebg: #ED796B;

@mixin title-font-size {
  font-size: 2.8em;
  font-size: $titlefontsize;
}

@mixin headerlinkhover {
  a:hover {
     background: darken($headerbg, 15%);
     @include transition(all 0.5s ease-in-out);
  }
}
@mixin centerWidthAndMargintop($width: 80%, $top: 3.5em) {
  width: $width;
  margin: 0 auto;
  margin-top: $top;
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Image replacement */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Links */
a {
  color: $linkcolor;
  text-decoration: none;
}
a:visited, a:active {
  color: $linkcolor;
}
a:hover {
  color: $linkcolor;
  text-decoration: underline;
}

/*****************************************************************************/
/*
/* Defaul
/*
/*****************************************************************************/
* {
  @include box-sizing(border-box);
}
html {
  font-size: $htmlsize;
}
body {
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, 'Hiragino Sans GB', sans-serif;
  /*font-family:"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";*/
  /*font-family:"Microsoft YaHei","微软雅黑","Hiragino Sans GB","Hiragino Sans GB W3",tahoma,arial,simsun,"宋体";*/
  background-color: $bodybg;
  font-size: 1rem;
}
.page-container {
  padding-bottom: 1em;
  width: $pagewidth;
  margin: 0 auto;
}
header.top{
  background-color: $headerbg;
  /*border-bottom: 1px solid #f1f1f1;*/
  text-align: center;
  position: relative;
  @include single-box-shadow;
  a {
    display: block;
    background-color: $headerbg;
    font-weight: bold;
    font-size:1.8rem;
    line-height: $headerlinkheight;
    color: #fff;
    text-decoration:none;
    text-shadow: 0 1px 0 rgba(3, 27, 47, 0.5);
  }
  @include headerlinkhover;

  h1 {
    margin:0 auto;
    width: 60%;
    color: #fff;
  }
  nav {
    width:100%;
    position: absolute;
    top:0;
    a {
      width:20%;
      position: absolute;
    }
    a:first-child {
      left:0;
    }
    a:last-child {
      right:0;
    }
  }
}
img.avatar {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -5.5em;
  height: 100%;
  z-index: 10;
}
img.avatar:hover {
  /*height: 150px;*/
  /*width:120px;*/
}



/*  Home  */
article header {
  font-size: 6.25vw;
}

.home {
  h1 {
    font-size: 1em;
    margin: 0;
    width: 80%;
    float: right;
    /*padding: 0.5em 0;*/
    line-height: 2.23em;
  }
  article {
    position: relative;
    width: 100%;
    header {
      height: 100%;
      overflow: hidden;
    }

    a{
      display: block;
      /*display:inline;*/
      text-decoration: none;
      padding-left:0.2em;
      color: #555;
    }
  }
  article:hover {
    background-color: $headerlightbg;
    a,time {
      color: #fff;
    }
    time {
      background-color: lighten($headerlightbg, 10%);
    }
  }
}
time {
  color: #aaa;
  font-size: 1.5em;

  /*display: -webkit-flex;*/
  /*display: flex;*/

}
.home time {
  width: 20%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;

  div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 1em;
  }
}
.excerpt {
  font-size: 2em;
  color: $entrycolor;
  p {
    margin: 0;
  }
  code {
    font-size: $entrycodefontsize;
  }
}


/*****************************************************************************/
/*
/* Page
/*
/*****************************************************************************/


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
header.post {
  text-align: center;
  @include centerWidthAndMargintop(85%);
  h1 {
    @include title-font-size;
    margin:0;
  }
  time {
    display: block;
    margin: 2em 0;
  }
}
.entry {
  margin-top:1.5em;
  margin:0 auto;
  color: $entrycolor;
  font-size: $entryfontsize;
  width: $entrywidth;
  code {
    font-size: $entrycodefontsize;
  }
}
.highlight, p > pre, p > code, p > nobr > code, li > code, h5 > code, .note > code {
    background: none repeat scroll 0 0 #333333;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
}
.highlight {
    overflow: auto;
    padding: 10px 0;
    width: 100%;
}
pre, code {
    display: inline-block;
    font-family: Menlo,Consolas,"Courier New",Courier,"Liberation Mono",monospace;
    font-size: 1em;
    line-height: 1.8em;
    margin: 0;
    padding: 0 0.5em;
    white-space: pre;
}

@media only screen and (max-width: 960px) {
  header.top a {
    font-size: 24px;
  }
  time {
     font-size: 1em;
  }
  header.post {
    margin-top: 2em;
  }
}
@media only screen and (max-width: 760px) {
  header.top a {
    font-size: 20px;
  }
  time {
     font-size: 0.8em;
  }
}
@media only screen and (max-width: 480px) {
  time {
     font-size: 0.6em;
  }
  header.post {
    margin-top: 1.5em;
  }
  header.top {
    a {
      font-size: 18px;
      text-align: left;
      padding-left:20px;
    }
    h1 {
      width: 100%;
    }
    nav {
      width: 100%;
      position: relative;
      a {
        width: 30%;
        position: relative;
        float:left;
      }
    }
  }
  img.avatar {
    display: none;
  }
  .home {
    time {
       position: relative;
       top: -8px;
       left: auto;
       float: right;
       right: 10px;
       height: auto;
       padding-top: 0;
       text-align: left;
       width: auto;
       div {
         position: relative;
       }
    }
    h1 {
      width: 100%;
      a {
        padding-left: 20px;
      }
    }
  }
  header.post {
    text-align: left;
    width: 100%;
    padding: 0 20px;
  }
  .entry {
    width: 100% !important;
    padding: 0 20px;
    margin: 0;
  }
}
