<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title %}{{ page.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}YiBing's random Thoughts{% endif %}">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/purecss-base-0.2.0.min.css">
  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/pygments.css"/>
  <link rel="stylesheet" href="/css/main.css" >

  <link rel="canonical" href="http://blog.yibing.me{{ page.url }}" />
</head>
<body>
  <div class="page-container">
  	<header class="top clearfix" role="banner">
      <h1><a href="/"><img class="avatar" alt="lamengao" src="/images/lamengao.big.png" />易冰的网络日志</a></h1>
      <nav role="navigation">
        <a href="/">home</a>
        <a href="http://yibing.me">about</a>
      </nav>
  	</header>

  	<div class="page clearfix">
      <section class="content" role="main">
    	{{ content }}
      </section>
    </div>
  </div>
<!--<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43311148-1', 'auto');
  ga('send', 'pageview');

</script>-->
</body>
</html>
